<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.gruppoinfor.home2work">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/home2work_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyCXpyHnpMEv29bEOPRsFxRJ0ZNVQk3Bsis" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="46d1717c516ccf9648149cf19412063e5dace7cf" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.REBOOT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".tracking.LocationService"
            android:enabled="true"
            android:stopWithTask="false" />
        <service
            android:name=".tracking.SyncJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>
        <service
            android:name=".tracking.ActivityRecognizedService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".firebase.FirebaseTokenService"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".firebase.MessagingService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".auth.SignInActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/activity_signin_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".configuration.ConfigurationActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/activity_configuration_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".matches.MatchInfoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/activity_match_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EditProfileActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/activity_edit_profile_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".settings.SettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/activity_settings_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chat.InboxActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Conversazioni"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="it.gruppoinfor.hometowork.NEW_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chat.ChatActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Messaggi"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shares.OngoingShareActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/activity_ongoing_share_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GradientTheme" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".user.UserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".shares.SharesActivity"
            android:screenOrientation="portrait"
            android:label="Condivisioni"/>
    </application>

</manifest>